
<div id="homepagecardtop" class="card" style="border-radius: 6px;">
    <div class="text-center">
        <h1 class="display-4">Let's Explore St. Louis!</h1>
    </div>
</div>

<div id="homepagecard" class="card" style="border-radius: 6px;" >
    </br>
    <p class="text-center lead fw-bold">Looking for something to do?
         </p>
    <p class="indent lead "> Find events all around STL! You can sort by type of activity, price, and other tags! Perfect for date night, work events, friends!
    </P> 
    <div class="featureList">
        <ul class="featureListBullets">
          <li class=" lead fw-bold">Create an account!</li>
          <li class="fw-bold lead" >Read reviews of places around STL!</li>
          <li class="fw-bold lead">Save activities to your favorites list!</li>
        </ul>
     </div>
</div>

<div id="carocard" class="card" style="border-radius: 6px;" >
    <div class="containercaro">
       <div class="imagewrapper">
          <img class="caroimage" src="~/Images/bowling.jpg">
          <img class="caroimage" src="~/Images/wine.jpg">
          <img class="caroimage" src="~/Images/dance.jpg">
          <img class="caroimage" src="~/Images/hike.jpg">
          <img class="caroimage" src="~/Images/winefriends.jpg">
          <img class="caroimage" src="~/Images/yoga.jpg">
          <img class="caroimage" src="~/Images/pottery.jpg">
          <img class="caroimage" src="~/Images/museums.jpg">
       </div>
    </div>
</div>

<!--Google Map-->
<div id="homepagecard" class="card" style="border-radius: 6px; align-items: center" >
    <h2 class="display-6">Use our map!</h2>
    <p>Click on the map icons below for more information.</p>
    <p><img src="~/Images/alienicon.png">- Alien <img src="~/Images/ghosticon.png">- Ghost <img src="~/Images/bigfooticon.png">- Bigfoot</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Y_kdiShf4lOWqxtjVW5YjqLHWzIZO3g&ehbc=2E312F&noprof=1" width="100%" height="480"></iframe>



